body{
  margin:0;
  padding:0;
}

.main{
  width:100vw;
  height: 100vh;
  background-image: url('./assets/klem.jpg');
  background-repeat: no-repeat;
  background-color:orange;
  background-blend-mode: soft-light;
  background-size:cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28vw;
  color:rgba(288,288,288,0.8);
  font-family:Tahoma, sans-serif;
}
.jump span {
      position: relative;
      display: inline-block;
      transition: transform 0.1s;
      cursor: default;
    }
.jump span:hover {
  transform:translateY(-20px) scale(1.5) rotate(10deg);
  z-index: 1;
}