.main{
  width:100vw;
  height: 100vh;
  background-image: url('./assets/klem.jpg');
  background-repeat: no-repeat;
  background-color:bisque;
  background-blend-mode: soft-light;
  background-size:cover;
  background-position: 50% 50%;
}