* {
  box-sizing: border-box;
}
figure {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 0 !important;
  /*background-image: radial-gradient(closest-side, transparent 98%, rgba(256,256,256,.3) 99%),*/
  /*radial-gradient(closest-side, transparent 98%, rgba(256,256,256,.3) 99%);*/
  /*background-size:80px 80px;*/
  /*background-position:0 0, 40px 40px;*/
  /*background-size: cover;
  background-position: 50% 50%;*/
  background-color: #eee6d6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%23f9f4f0' fill-opacity='0.4'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-blend-mode: screen;
}
.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.site .site-header,
.site .site-footer {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  /* 2 */
  text-align: center;
  font-size: 14px;
}
.site .site-header {
  width: 100%;
  min-width: 320px;
  padding: 10px 20px;
  /*background-color: #B26B00;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #ffc600;
  background-color: #FFF;
  box-shadow: 2px 2px 2px rgba(250, 184, 66, 0.8);
}
.site .site-header .logo {
  font-size: 5vw;
  letter-spacing: 10px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  color: rgba(254, 183, 76, 0.6);
  color: #ffc600;
  color: #a19374;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site .site-header .heart-shape {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: rgba(250, 184, 66, 0.8);
  margin-top: 20px;
  margin-left: 10px;
}
.site .site-header .heart-shape:before {
  position: absolute;
  bottom: 0px;
  left: -25px;
  width: 50;
  height: 50px;
  content: '';
  border-radius: 50%;
  background-color: rgba(250, 184, 66, 0.8);
}
.site .site-header .heart-shape:after {
  position: absolute;
  top: -25px;
  right: 0px;
  width: 50px;
  height: 50px;
  content: '';
  border-radius: 50%;
  background-color: rgba(250, 184, 66, 0.8);
}
.site .carousel {
  overflow: hidden;
  width: 90vw;
  min-width: 320px;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  /*background-color: #ffffff;*/
  text-align: center;
  /*border-top: 1px solid #927951;*/
  /*border-bottom: 1px solid #927951;*/
}
@media (max-width: 668px) {
  .nav > section {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.site-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 25px;
  min-width: 320px;
  color: #444;
}
.site-content h1 {
  text-align: center;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 32px;
}
.site-content figure .image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  font-family: 'object-fit:cover; object-position: 50% 60%;';
  height: 50vh !important;
  width: 100%;
  border-radius: 6px 6px 0 0;
  -webkit-filter: sepia(40%);
          filter: sepia(40%);
}
.site-content figure figcaption {
  padding: 10px 10px;
  background-color: #fff;
  color: #a19374;
  font-size: 20px;
}
.site-content p {
  padding: 10 40px;
}
.site-content blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #444;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-content blockquote p {
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  /*Font*/
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  color: #c76c0c;
  font-style: italic;
  /*Borders - (Optional)*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.site-content blockquote p::before {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #a19374;
  padding-right: 5px;
  /*Positioning*/
}
.site-content blockquote p::after {
  /*Reset to make sure*/
  content: "";
}
.panes {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 90vw;
  min-width: 320px;
  height: 60vh;
  overflow: hidden;
  /*animation:carousel 50s infinite;*/
}
.panes li {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: -webkit-transform 5000ms linear 0s;
  transition: -webkit-transform 5000ms linear 0s;
  transition: transform 5000ms linear 0s;
  transition: transform 5000ms linear 0s, -webkit-transform 5000ms linear 0s;
  -webkit-animation: css-carousel-fade 30s linear infinite;
          animation: css-carousel-fade 30s linear infinite;
  float: left;
  opacity: 0;
  min-width: 320px;
  max-width: 100vw;
  /*width:20%; /* 100 / number of panes */
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  background-position: 50%;
  /*background-blend-mode: screen;   */
  -webkit-filter: sepia(45%);
          filter: sepia(45%);
  box-sizing: border-box;
  border: 10px solid #fff;
  border-radius: 8px;
}
.panes li.one {
  background-image: url('/assets/main_cut.png');
  background-position: 50% 100%;
}
.panes li.two {
  background-image: url('/assets/avis.jpg');
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.panes li.three {
  background-image: url('/assets/kitchen.jpg');
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  background-position: 50% 10%;
}
.panes li.four {
  background-image: url("/assets/smerte.jpg");
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.panes li.five {
  background-image: url('/assets/klem.jpg');
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}
.panes li.six {
  background-image: url('/assets/armiarm.jpg');
  -webkit-animation-delay: 25s;
          animation-delay: 25s;
}
.panes li.seven {
  background-image: url('/assets/strekk.jpg');
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}
.panes > li h2 {
  padding: 20px 20px;
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
.businesscard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.businesscard-container .businesscard-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.businesscard-container .businesscard-portrait {
  background-image: url('/assets/vcard.jpg');
  height: 15vw;
  min-height: 100px;
  width: 15vw;
  min-width: 100px;
  border-radius: 50%;
  border: 2px solid rgba(242, 108, 79, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.businesscard-container .businesscard-name,
.businesscard-container .businesscard-email,
.businesscard-container .businesscard-phone {
  font-size: 20px;
  padding: 2px 0;
}
.promotion a {
  padding: 15px;
  -webkit-animation: opacity .1s;
          animation: opacity .1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.promotion a:hover span {
  /*color:rgba(255, 230, 102,1);*/
}
.promotion a hr {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 4px 0px 6px;
  color: #feb74c;
  color: rgba(255, 198, 0, 0.6);
  color: #a19374;
  border-style: solid;
}
.promotion a h1 {
  color: #333;
  -webkit-animation: opentwo .2s;
          animation: opentwo .2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 0;
  font-size: 20px;
}
.promotion a h2 {
  color: #333;
  letter-spacing: 3px;
  -webkit-animation: opentwo .5s;
          animation: opentwo .5s;
  margin: 4px;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}
.promotion a span {
  font-size: 16px;
  padding: 6px 12px;
  color: #ffffff;
  background-color: #fff;
  text-align: center;
  -webkit-animation: opentwo .80s ease;
          animation: opentwo .80s ease;
  border-radius: 4px;
  letter-spacing: 2px;
  background-color: #ffc600;
  background-color: #a19374;
  background-color: #c76c0c;
  border: 1px solid #ffc600;
  border: 1px solid #a19374;
  white-space: nowrap;
}
.promotion.home a span {
  font-size: 20px;
}
@-webkit-keyframes css-carousel-fade {
  0%,
  20%,
  100% {
    opacity: 0;
  }
  5%,
  15% {
    opacity: 1;
  }
}
@keyframes css-carousel-fade {
  0%,
  20%,
  100% {
    opacity: 0;
  }
  5%,
  15% {
    opacity: 1;
  }
}
@-webkit-keyframes openone {
  0% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes openone {
  0% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes opentwo {
  0% {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
  }
  50% {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes opentwo {
  0% {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
  }
  50% {
    -webkit-transform: translateX(500%);
            transform: translateX(500%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

/*# sourceMappingURL=styles.css.map*/